.features {
	padding: 94px 0;
	@media screen and (max-width: 1199px)
	{ padding: 60px 0;
}
}

.features_list {
	display: flex;
	gap: 30px;
	justify-content: center;
	@media screen and (max-width: 767.8px)
 {
    flex-direction: column;
    align-items: center;
}	
	@media screen and (min-width: 768px) and (max-width: 1199px)
{
	flex-wrap: wrap;
}	
	@media screen and (min-width: 1200px)
	{

	}

}

.features_item {
	min-width: 270px;
	height: auto;
	text-align: start;
	justify-content: flex-start;
	@media screen and (max-width: 767.8px)
 {
    width: 100%;
}
	@media screen and (min-width: 768px) and (max-width: 1199px)
{
	min-width: 354px ;
	width: calc((100% - 60px)/2);
	@media screen and (min-width: 1200px)
	{
		align-items: center;
		width: 270px;
	}
}
}

.features_block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;
	background-color: var(--secondary-btn-color);
	@media screen and (max-width: 1199px)
	{
		width: 100%;
	}
	
}
.features_icon {
	width: 70px;
	height: 70px;
}

.features_title {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	@media screen and (max-width: 767.8px)
	{
		text-align: center;
	}
}

.features_text {
	line-height: 1.7;
	width: 50%;
	}